:root {
    --main-bg-colour: #cacaaa;
    --alt-bg-colour: #1b2021;
    --recipe-bg-colour: #9C9C6D;
}

body {
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
}

textarea {
    background-color: var(--alt-bg-colour);
    color: whitesmoke;
    border-radius: 10px;
}

.container {
    display: grid;
    grid-template-columns: 9.6vw 9.6vw 9.6vw 9.6vw 9.6vw 9.6vw 9.6vw 9.6vw 9.6vw 9.6vw 9.6vw 9.6vw;
    grid-template-rows: 10.8vh 5.4vh 5.4vh 5.4vh 5.4vh 5.4vh 5.4vh 5.4vh 5.4vh 5.4vh 5.4vh 5.4vh 5.4vh 5.4vh;

    text-align: center;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ingredient-input {
    grid-row: 3 / 5;
    grid-column: 3 / 5;
}

#ingredient-have {
    grid-row: 5 / 6;
    grid-column: 3 / 5;
}

#calculate-button {
    grid-row: 6;
    grid-column: 3 / 5;
}

#recipe-area {
    grid-row: 2 / 10;
    grid-column: 7 / 10;
}

@media (max-width: 1000px) {
    #ingredient-input {
        grid-row: 3 / 5;
        grid-column: 4 / 8;
    }
    
    #ingredient-have {
        grid-row: 5 / 6;
        grid-column: 4 / 8;
    }

    #calculate-button {
        grid-row: 6;
        grid-column: 4 / 8;
    }

    #recipe-area {
        grid-row: 9 / 16;
        grid-column: 3 / 9;
    }
}

textarea {
    width: 38.4vw;
}

#recipe-area {
    flex-direction: column;
    align-content: flex-start;
    background-color: var(--recipe-bg-colour);
    border-radius: 10px;
}

ul {
    list-style-type: circle;
}